extends layout/layout

block  variable
    - let pageName = 'basket'; 

block content
    main.main.main-basket
        .basket
            .basket__content
                .basket__wr-title 
                    h1.basket__title Корзина
            
                ul.basket__goods-list
                   
                    
                    
                   
                hr.basket__underline

                .basket__wr-total-price 
                    .basket__wr-total-discount  
                        .basket__total-discount-text Скидка:
                        .basket__total-discount-num #[span 750] р.
                    .basket__total-price-old 11 750 р.
                    .basket__total-price
                        .basket__total-price-text Итог:
                        .basket__total-price-num #[span 11000] р.

                a(href="./place-an-order.html" title="Оформить заказ").basket__button Оформить