extends layout/layout

block  variable
    - let pageName = 'er-order'; 

block content 
    main.main.main-er-order 
        .er-order 
            .er-order__icon 
                
            .er-order__text 
                p Для оформления заказа Вам необходимо Зарегистрироваться

            .er-order__wr-button 
                a.er-order__button(href="/" title="Зарегистрироваться") Зарегистрироваться