block bigDescriptionsSliderCoffee
    - 
        let dataCoffee = [
            {
                packing: 'espresso',
                id: 'colombia-andino',
                part: 'colombia-andino',
                img1: 'big-desc-colombia-andino-1-content.webp',
                img2: 'big-desc-colombia-andino-2-content.webp',
                alt: 'colombia-andino', 
                title: 'толима',
                text: [
                    'Департамент Толима расположен в районе Анд, на юго-западе от Боготы. Этот регион имеет очень яркую историю, которая восходит к долгой истории местной цивилизации, затем к войнам за испанскую колонизацию, а недавно и к проникновению партизанской армии. В последние годы в регионе значительно улучшилась ситуация и стало безопасно путешествовать, что позволяет продолжить изучение кофе в регионе.',
                    'Каньон де лас Эрмосас является частью национального парка Лас Эрмосас, который охватывает большие территории в департаментах Толима и Валье де Каука. Каньон проходит недалеко от города Чапараль, в направлении Валье де Каука.',
                    'Кофе на склонах выращивают мелкие фермеры, которые обрабатывают ягоды до стадии сухого пергамента. Ягоды собирают вручную и пульпируют в тот же день, затем ферментируют около 18-24 часов. Далее выкладывают для сушки под солнцем на крыши, патио или крытые кровати.'
                ]
            },
            {
                packing: 'espresso',
                id: 'guatemala-blue-ayarsa',
                part: 'guatemala-blue-ayarsa',
                img1: 'big-desc-guatemala-blue-ayarza-1-content.webp',
                img2: 'big-desc-guatemala-blue-ayarza-2-content.webp',
                alt: 'guatemala-blue-ayarza',
                title: 'блю аярза',
                text: [
                    'Лагуна-де-Аярза — кратерное озеро в департаменте Санта-Роза в Гватемале, известное как Лагуна Азул (Голубое озеро), образовавшееся около 20 000 лет назад в результате извержения вулкана. Оно расположено на высоте 1 400 метров и находится всего в 30 минутах езды от Фабрики Ковойи Черри, где покупают кофе у более чем 1000 мелких производителей этого района.',
                    'Кофе обработан способом углекислотной мацерации — это термин, пришедший из винодельческой промышленности. Сам процесс происходит в несколько этапов: на первом этапе кофейные ягоды перемещают в резервуар, герметизируют его и отправляют в закрытое помещение для ферментации. Сам процесс проходит при температуре от 4 до 20°, в зависимости от пожеланий к конечному результату. Чем ниже температура ферментации, тем более сложную и комплексную кислотность мы получаем в чашке.',
                    'При более высоких температурах мы получаем более сладкую чашку.  На втором этапе в резервуар вкачивается углекислый газ, который вытесняет кислород через обратный клапан. Добавление  необходимо для того, чтобы замедлить процесс ферментации. Обработанный способом углекислотной мацерации кофе получается с оттенками спелых, сочных ягод, сладким и сливочным вкусом.'
                ]
            },
            {
                packing: 'espresso',
                id: "Эфиопия-Бешаша",
                part: "ephiopia-beha",
                img1: 'big-desc-honduras-otilo-garsias-1-content.webp',
                img2: 'big-desc-honduras-otilo-garsias-2-content.webp',
                alt: 'ephiopia-beha',
                title: 'Эфиопия Бешаша',
                text: [
                    'Гомма - одна из первых зон выращивания кофе в Эфиопии. Поскольку считается, что ранняя одомашненная культура кофе началась именно здесь, в этом регионе выращивают кофе сорта хейрлум, который также смешан с новыми сортами 4110 и 74112. Этот кофе отличается своей идеальной гладкостью и сбалансированным вкусом. Считается, что этот сорт наиболее близкий по вкусу к оригинальным диким сортам.',
                    'Кофейные ягоды собирают вручную и отправляют на станцию мытой обработки. Затем ягоды чистят от мякоти между двумя вращающимися абразивными плитами с использованием чистой воды из реки Гема. На следующий день зерна еще раз тщательно промывают в специальных каналах, разделяя по качеству и отправляют на солнечные патио. Здесь осуществляют тщательный контроль за влажностью. Как только она достигнет целевого показателя 10-12 %, кофе будет упакован для транспортировки на станцию предэкспортной обработки. Обычно сушка занимает 10-14 '
                ]
            },
            {
                packing: 'espresso',
                id: 'Мексика-Ки-Сойя',
                part: 'mexico',
                img1: 'big-desc-kenya-anfdb-kibendo-1-content.webp',
                img2: 'big-desc-kenya-anfdb-kibendo-2-content.webp',
                alt: 'kenya-anfdb-kibendo',
                title: 'Мексика Ки-Сойя',
                text: [
                    'Mexico Arabica Washed Ki-Soya - это кофе из Мексики, произведённый на высокогорных плантациях в районе Соя, штат Чиапас. Кофе обрабатывается с помощью метода мытого (washed), что позволяет достичь чистоты и яркости вкусового профиля, присущего арабике.',
                    'Зерна собираются вручную, когда они достигают оптимальной зрелости, и сразу же подвергаются обработке методом мытого, что помогает избавиться от мякоти плода и подчеркивает чистоту вкусов. Сушат кофе на солнце, что также способствует выделению чистых ароматов и консистенции во вкусе.',
                    'Этот кофе из региона Соя, известного своими органическими плантациями, представляет собой отличный выбор для тех, кто ценит экологически чистые, ароматные и сбалансированные кофе с характерной мексиканской текстурой.'
                ]
            },
            {
                packing: 'espresso',
                id: 'Бразилия-Джуси-Твист',
                part: 'brasil',
                img1: 'big-desc-colombia-excelso-decaf-1-content.webp',
                img2: 'big-desc-colombia-excelso-decaf-2-content.webp',
                alt: 'colombia-excelso-decaf',
                title: 'Бразилия Джуси Твист',
                text: [
                    'Производство кофе на ферме Ранчо Гранде началось еще в 1933 году, когда Анейте Рейс унаследовал пять гектаров земли. С течением времени, благодаря усилиям и самоотверженности в работе, ферма улучшила существующие и разрабатывала новые методы производства.',
                    'Сегодня фермой управляют сын Анейте Хосе Карлос Рейс и внук Флавио Рейс. На данный момент ферма занимает 2.350 гектаров, из которых выращивание кофе занимает 517 гектаров. Миссия фермы ответственно производить кофе максимально возможного качества, не пренебрегая важностью защиты окружающей среды и заботой о благополучии своих сотрудников.',
                    'Кофе обработан натуральным полуанаэробным способом. После сбора ягоды находились 120 часов под солнцем в нейлоновом полотне. А затем кофе сушился на патио 14-18 дней.'
                ]
            },
            {
                packing: 'espresso',
                id: 'colombia-excelso-decaf-ground',
                part: 'colombia-excelso-decaf-ground',
                img1: 'big-desc-colombia-excelso-decaf-1-content.webp',
                img2: 'big-desc-colombia-excelso-decaf-2-content.webp',
                alt: 'colombia-excelso-decaf',
                title: 'эксельсо декаф',
                text: [
                    'Колумбия по праву считается лидером по производству мытой арабики. Многообразие климатических зон и удачное экваториальное расположение способствует сбору урожая более двух раз в год, а кофе из Колумбии экспортируется круглогодично.',
                    'Зерна собранного колумбийского кофе сортируются на категории в соответствии с размером. «Эксельсо» немного меньше остальных, в среднем его размер варьируется от 15 до 16.',
                    'Кофейные ягоды «Эксельсо» проходят SwissWater Process — метод декофеинизации, при котором используется только горячая вода для удаления 99.9% кофеина, содержащегося в кофе. На последней стадии процесса зерна высушиваются горячим воздухом до 10-12% влажности, затем охлаждаются и дополнительно полируются. Полученная смесь отличается ярко выраженным цветом, вкусом, близким к оригинальному, а также содержанием менее 0.1% кофеина.'
                ]
            },
            {
                packing: 'filter',
                id: 'ethiopia-banko-gotete',
                part: 'ethiopia-banko-gotete',
                img1: 'big-desc-ethiopia-banko-gotete-1-content.webp',
                img2: 'big-desc-ethiopia-banko-gotete-2-content.webp',
                alt: 'ethiopia-banko-gotete',
                title: 'банко готете',
                text: [
                    'Станция обработки Банко Готете принадлежит Султану Легессе, отец которого был крупнейшим экспортером в Эфиопии. Султан учился в Канаде, там же женился, а потом вернулся в Эфиопию и продолжил дело своего отца, заостряя особое внимание на кофейном производстве.',
                    'Во время сбора урожая на станцию ежедневно поступает 30-40 тонн кофейных ягод от местных фермеров. Ягоду принимают из близлежащих деревень от местных фермеров, владеющих по 0,5-1 га земли. Фермеры сдают только спелую ягоду, которую собирают вручную целыми семьями. Перед обработкой кофе перебирают вручную, сортируют по качеству, затем пропускают через депульпатор, удаляющий мякоть и кожуру, и ферментируют в течение 1.5 суток. После зерна тщательно промывают водой и сушат на африканских кроватях от 8 до 12 дней, периодически перемешивая. Предэкспортная подготовка не исключает и проверку на наличие дефектов, которые в обязательном порядке удаляются.',
                    'Почва, высота произрастания, большой перепад дневных и ночных температур, обилие ручьёв вокруг создают уникальный микроклимат, в котором растут кофейные деревья. Землю удобряют каскарой, её развозят грузовики Султана по участкам фермеров между урожаями.'
                ]
            },
            {
                packing: 'filter',
                id: 'columbia-punch',
                part: 'columbia-punch',
                img1: 'big-desc-columbia-punch-1-content.webp',
                img2: 'big-desc-columbia-punch-2-content.webp',
                alt: 'columbia-punch',
                title: 'колумбия punch',
                text: [
                    'Еще в 1995 году семья Байтер, засучив рукава, с головой окунулась в сельскохозяйственную жизнь на ферме Эль-Вергель. Авокадо было их основным продуктом, но, когда цены на авокадо резко упали в 2006 году, они поняли, что пришло время что-то изменить. Так, они добавили в ассортимент несколько сортов кофе - катимор, красный и желтый катурра – так и родилась кофейная империя!',
                    'Перенесемся в 2016 год, и под небольшим руководством кофейного гуру Мигеля Хименеса они посадили специальные сорта кофе, подготовив для этого почву. Затем, в 2018 году, они погрузились в процесс натуральной обработки и различных вариаций ферментации натурального кофе.',
                    'Этот натуральный кофе проходит 12-часовой процесс ферментации, за которым следует 24-часовая анаэробная ферментация. После этого кофе отправляется на 20-дневную сушку под солнцем.'
                ]
            },
            {
                packing: 'filter',
                id: 'burundi-muranga',
                part: 'burundi-muranga',
                img1: 'big-desc-burundi-muranga-1-content.webp',
                img2: 'big-desc-burundi-muranga-2-content.webp',
                alt: 'burundi-muranga',
                title: 'муранга',
                text: [
                    'Кофе играет ключевую роль в экономике государства Бурунди, обеспечивая доход более чем 650.000 семей и являясь главным экспортным продуктом страны. По прошествию гражданской войны в 2000-х годах, правительство Бурунди увидело потенциал кофе в восстановлении разрушенной экономики.',
                    'Кофе был представлен в Бурунди в 20-х годах прошлого века в период бельгийской колонизации. Гористый ландшафт и тропический климат делают страну идеальной для выращивания кофейных деревьев. С целью создания растущего спроса Европы на кофе, правительство обязало фермеров выращивать не менее 50 деревьев, покупая урожай по очень низкой цене. Вместе с обретением независимости в 1962 году Бурунди также пережила и большие потрясения, а кофейная индустрия страны прошла этапы приватизации и национализации, что негативно сказалось на производстве.',
                    'Спустя время Бурунди сделала себе имя, получив признание в производстве исключительного кофе с уникальными вкусовыми характеристиками в мире specialty кофе. Кофейная индустрия организована вокруг станций мытой обработки (кооперативных или частных), которые расположены по всей стране. Эти станции поспособствовали переходу на specialty кофе, инвестируя в инфраструктуру обработки, улучшая качество покупаемой ими ягоды и разделяя лоты для улучшения прослеживаемости.'
                ]
            },
            {
                packing: 'filter',
                id: 'Руанда-Бугойи',
                part: 'ruanda',
                img1: 'big-desc-honduras-otilo-garsias-1-content.webp',
                img2: 'big-desc-burundi-muranga-2-content.webp',
                alt: 'burundi-muranga',
                title: 'Руанда Бугойи',
                text: [
                    'Эммануэль Русатира основал в 2016 году компанию «Baho Coffee». Это название для компании выбрано не просто так: «Baho» — очень распространенное слово в Руанде, чтобы утешить друзей и семью, переживающих трудные времена.',
                    'Выходец из семьи, связанной с кофе, он основал свою компанию на основе философии: «Благодаря кофе люди разных культур становятся одним сообществом». Компания управляет семью станциями мытой обработки по всей стране. Связь с местными традициями и культурами вдохновляет их на разработку новых экспериментальных процессов или разновидностей. Этот лот сделан на одной из станций мытой обработки, которая принадлежит Бахо - Бугойи. Она расположена на берегу озера Киву и славится легким ветром и мягким солнечным светом, что обеспечивает равномерную сушку кофе.',
                    'Кофе обработан натуральным анаэробным способом. Ягоду очистили от флоатеров, поместили в герметично закрытые бочки. Затем кофе ферментировался в течение 96 часов под солнцем. После кофе сушился на африканских кроватях 28 дней.'
                ]
            },
            {
                packing: 'filter',
                id: 'Бразилия-Ранчо-Гранде"',
                part: 'brasilrancho',
                img1: 'big-desc-burundi-muranga-1-content.webp',
                img2: 'big-desc-colombia-andino-2-content.webp',
                alt: 'burundi-muranga',
                title: 'Бразилия Ранчо Гранде',
                text: [
                    'Производство кофе на ферме Ранчо Гранде началось еще в 1933 году, когда Анейте Рейс унаследовал пять гектаров земли. С течением времени, благодаря усилиям и самоотверженности в работе, ферма улучшила существующие и разрабатывала новые методы производства.',
                    'Миссия фермы - ответственно производить кофе максимально возможного качества, не пренебрегая важностью защиты окружающей среды и заботой о благополучии своих сотрудников. Их цель - продолжать улучшать качество производимого кофе, стремясь удовлетворить запросы потребителей.',
                    'Кофе обработан натуральным анаэробным способом с этапом углекислой мацерации. Ягоду кофе очистили от флоатеров, поместили в ёмкости с газозамещённой средой. Затем кофе ферментировался в течение 360 часов в тени. После кофе сушился на патио 14-18 дней.'
                ]
            },
            {
                packing: 'filter',
                id: 'Кения-Гичатайни"',
                part: 'kenyagitachi',
                img1: 'big-desc-guatemala-blue-ayarza-2-content.webp',
                img2: 'big-desc-burundi-muranga-2-content.webp',
                alt: 'burundi-muranga',
                title: 'Кения Гичатайни',
                text: [
                    'Станция Гичатайни расположена на восточной стороне национального парка горы Кения. Условия для выращивания кофе здесь практически идеальные: обильные осадки выпадают в течение всего года, а периоды повышенной влажности приходятся на март-июнь и октябрь-декабрь. Средние дневные температуры колеблются от 15 до 26 градусов, ночью происходит значительное похолодание. Вода, используемая на станции для ферментации и промывки кофе, берется из близлежащей реки Рагати с помощью самотечных каналов и рециркулирует во время обработки в целях сохранения. После использования она перемещается в отстойники вдали от источников воды, чтобы не загрязнять местность.',
                    'Лот мытой обработки. Состоит из арабики SL28, SL34, Руиру 11 и Батиан. Размер зерна АВ. После сбора кофе прошел ручную сортировку. Затем депульпированное зерно погрузили в резервуары с водой для дальнейшей ферментации в течение 12 часов. После этого зерно промыли, повторно отсортировали по размеру и плотности, и снова замочили в чистой воде на 18 часов. Далее зерно сушили на африканских кроватях в течение 14 дней.'
                ]
            },
            {
                packing: 'filter',
                id: 'Колумбия-Эксельсо-Декаф',
                part: 'columbiadecaf',
                img1: 'big-desc-colombia-excelso-decaf-2-content.webp',
                img2: 'big-desc-honduras-otilo-garsias-2-content.webp',
                alt: 'burundi-muranga',
                title: 'Колумбия Эксельсо Декаф',
                text: [
                    'Колумбия по праву считается лидером по производству мытой арабики. Многообразие климатических зон и удачное экваториальное расположение способствует сбору урожая более двух раз в год, а кофе из Колумбии экспортируется круглогодично.',
                    'Зерна собранного колумбийского кофе сортируются на категории в соответствии с размером. «Эксельсо» немного меньше остальных, в среднем его размер варьируется от 15 до 16.',
                    'Кофейные ягоды «Эксельсо» проходят Swiss Water Process - метод декофеинизации, при котором используется только горячая вода для удаления 99.9% кофеина, содержащегося в кофе. На последней стадии процесса зерна высушиваются горячим воздухом до 10-12% влажности, затем охлаждаются и дополнительно полируются. Полученная смесь отличается ярко выраженным цветом, вкусом, близким к оригинальному, а также содержанием менее 0.1% кофеина.'
                ]
            },
            {
                packing: 'drip',
                id: 'part-of-africa',
                part: 'part-of-africa',
                top: {
                    img: 'big-desc-part-of-africa-1-content.webp',
                    alt: 'part-of-africa',
                    title: 'сет "африка"',
                    set: [
                        'kenya anfdb kibendo',
                        'ethiopia banko gotete',
                        'burundi muranga'
                    ]
                },
                bottom: {
                    img: 'big-desc-part-of-africa-2-content.webp' ,
                    alt: 'part-of-africa',
                    set: [
                        {
                            title: 'kenya anfdb kibendo',
                            text: 'сливочный вкус с ароматом темных ягод, нотами черной смородины, ежевики и карамели'
                        },
                        {
                            title: 'ethiopia banko gotete',
                            text: 'цитрусы, цветы, ноты персика, лайма, красной смородины и черного чая'
                        },
                        {
                            title: 'burundi muranga',
                            text: 'ваниль, цветы, черешня, чай, шиповник'
                        },
                    ],
                }
            },
            {
                packing: 'drip',
                id: 'part-of-assorti',
                part: 'part-of-assorti',
                top: {
                    img: 'big-desc-part-of-assorti-1-content.webp',
                    alt: 'part-of-assorti',
                    title: 'сет "ассорти"',
                    set: [
                        'brasil cocatrel',
                        'colombia excelso decaf',
                        'peru cajamarca'
                    ],
                    assemble: ['В данном наборе, у вас есть возможность', 'создать свой сет из вкусов']
                },
                bottom: {
                    img: 'big-desc-part-of-assorti-2-content.webp' ,
                    alt: 'part-of-assorti',
                    set: [
                        {
                            title: 'brasil cocatrel',
                            text: 'жареные орехи, желтые фрукты и карамель'
                        },
                        {
                            title: 'colombia excelso decaf',
                            text: 'аромат выпечки и специй с нотами бородинского хлеба, темного шоколада и печеных яблок'
                        },
                        {
                            title: 'peru cajamarca',
                            text: 'карамень и желтые фрукты, ноты апельсина, шоколада, сливочной карамели и лесного ореха'
                        },
                    ],
                }
            },
            {
                packing: 'drip',
                id: 'part-of-america',
                part: 'part-of-america',
                top: {
                    img: 'big-desc-part-of-amerika-1-content.webp',
                    alt: 'part-of-amerika',
                    title: 'сет "америка"',
                    set: [
                        'columbia punch',
                        'guatemala blue ayarza',
                        'honduras otilo garsias'
                    ]
                },
                bottom: {
                    img: 'big-desc-part-of-amerika-2-content.webp' ,
                    alt: 'part-of-amerika',
                    set: [
                        {
                            title: 'columbia punch',
                            text: 'аромат зеленых яблок и черники, с нотами спелой сливы, яблок, ежевики, черники'
                        },
                        {
                            title: 'guatemala blue ayarza',
                            text: 'аромат ягод и карамели, с нотами спелого винограда, земляники и шоколада'
                        },
                        {
                            title: 'honduras otilo garsias',
                            text: 'пряности и ягоды, ноты брусники, карамели, клюквы, и черного чая'
                        },
                    ],
                }
            }
        ]
